@keyframes example {
    0%   {opacity: 0;}
    100% {opacity: 1;}
  }
  
  div #bigThing{
    animation-name: example;
    animation-duration: 5s;
}

.hairText{
  height: 200px;
}

.checks{
  display: inline-block;
}